/RayTracingInTheWeekEnd/Debug
/RayTracingInTheWeekEnd/Release
/RayTracingInTheWeekEnd/x64
/RayTracingInTheWeekEnd/RayTracingInTheWeekEnd.sdf
/RayTracingInTheWeekEnd/RayTracingInTheWeekEnd.v12.suo
/RayTracingInTheWeekEnd/RayTracingInTheWeekEnd.VC.db
/RayTracingInTheWeekEnd/RayTracingInTheWeekEnd.vcxproj.user
/RayTracingInTheWeekEnd/.vs
